

td {
    border: 1px solid blue;
    width: 100px;
    height: 100px;
  }
  
  td:hover {
    background: orange;
  }
  
  table {
    border: 1px solid green;
    padding: 2px;
    border-collapse: unset;
  }